.copyright
    - var hexoURL = "https://hexo.io/";
    - var apolloURL = "https://github.com/AngryPowman/hexo-theme-prontera";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author],<a href='http://www.beian.miit.gov.cn'>备案编号:闽ICP备17012963号-1</a> powered by #[a(href=hexoURL, target="_blank") Hexo] and #[a(href=apolloURL, target="_blank") hexo-theme-prontera].